<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191427074875-gp50c2mns3e4vfl8a5qdfnarcjt76lq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191427074875-gp50c2mns3e4vfl8a5qdfnarcjt76lq7</string>
	<key>API_KEY</key>
	<string>AIzaSyAgbCcGU0wKwc72ii8VG-AegUxV17-G3LI</string>
	<key>GCM_SENDER_ID</key>
	<string>191427074875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gu.ios.VkClient</string>
	<key>PROJECT_ID</key>
	<string>vkapp-f7cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>vkapp-f7cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191427074875:ios:23f27f59f61015054f751e</string>
</dict>
</plist>